<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    {% for detail in dett%}
        NAME:{{detail.name}}
        <br>
        <br>
        EMAIL:{{detail.email}}
        <br>
        <br>
        MESSAGE:{{detail.message}}
        <br>
        <br>
        <a href="{% url 'dele_te' detail.id %}">Delete</a>
        <hr>

    {%endfor%}    
</body>
</html>